
api.veritrace.dpkvtrading.online {
    reverse_proxy localhost:8080
}

api.hash.veritrace.dpkvtrading.online {
    reverse_proxy localhost:8081
}

s3.veritrace.dpkvtrading.online {
    reverse_proxy localhost:9000
}

api.ai.veritrace.dpkvtrading.online {
    reverse_proxy localhost:8082
}
